@media screen and ( max-width:  1750px) {
    .review {
        &__but {
            width: 500px;
            right: 45px;
        }
    }
    .main {
        &__money {
            &--1 {
                top: 20px;
            }
        }
    }
}
@media screen and ( max-width:  1500px) {
    .review {
        &__but {
            width: 400px;
        }
    }
    .comparison {
        &__img {
            width: 400px;
            right: 50px;
            left: auto;
        }
    }
    .help {
        &__butterflies {
            width: 455px;
            right: 0;
        }
    }
    .registration {
        &__img {
            width: 500px;
            bottom: -450px;
        }
    }
}
@media screen and ( max-width:  1400px) {
    .footer {
        &__logo {
            width: 200px;
        }
    }
    .faq {
        &__container {
            background-size: 600px;
            padding-bottom: 40px;
        }
    }
    .registration {
        margin-top: -50px;
        &__img {
            width: 400px;
            bottom: -330px;
        }
    }
    .advantages {
        padding-bottom: 200px;
        background-position-y: 50px;
        background-position-x: 50px;
    }
}
@media screen and ( max-width:  1350px) {
    .review {
        &__but {
            display: none;
            &--mob {
                display: block;
                right: 10px;
                bottom: 0px;
            }
        }
    }
    .comparison {
        &__img {
            width: 300px;
        }
    }
    .we {
        &__text {
            font-size: 20px;
            max-width: 550px;
        }
    }
    
}
@media screen and ( max-width:  1250px) {
    .footer {
        padding-bottom: 70px;
        padding-top: 40px;
        &__address {
            &__text {
                font-size: 14px;
            }
        }
        &__date {
            &__text {
                font-size: 14px;
                &:first-of-type {
                    font-size: 16px;
                }
            }
        }
        &__info {
            &__text {
                font-size: 14px;
            }
        }
        &__link {
            margin-right: 10px;
        }
        &__logo {
            width: 150px;
        }
    }
    .review {
        padding-bottom: 80px;
        &__card {
            width: 300px;
            height: 280px;
            &__wrap {
                padding: 30px 30px 15px 15px;
            }
            &__name {
                font-size: 16px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    .faq {
        &__container {
            background-size: 500px;
            padding-bottom: 0;
        }
        &__item {
            width: 435px;
            &__title {
                font-size: 16px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }
    .comparison {
        padding-bottom: 40px;
        &__money {
            &--2 {
                width: 90px;
            }
            &--1 {
                width: 90px;
                left: 45%;
            }
        }
        &__row {
            &--item {
                margin-bottom: 15px;
                justify-content: space-between;
                &--last {
                    width: 100%;
                }
            }
        }
        &__card {
            width: 320px;
            padding: 20px;
            height: 430px;
            &__wrap {
                width: 100%;
            }
            &__marker {
                background: linear-gradient(135deg, #FFFFFF 0%, #E8E8E8 100%);
                box-shadow: -19px 19px 38px rgba(188, 188, 188, 0.2), 
                            19px -19px 38px rgba(188, 188, 188, 0.2), 
                            -19px -19px 38px rgba(255, 255, 255, 0.9), 
                            19px 19px 48px rgba(188, 188, 188, 0.9), 
                            inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                            inset -1px -1px 2px rgba(188, 188, 188, 0.5);
            }
            &__li {
                margin-bottom: 10px;
            }
            &__box {
                width: 130px;
                height: 35px;
                &--last {
                    font-size: 12px;
                    width: calc(100% + 20px);
                    height: 45px;
                    margin-left: -20px;
                    padding-left: 20px;
                }
                &__text {
                    font-size: 14px;
                    span {
                        &:last-of-type {
                            font-size: 11px;
                        }
                    }
                }
            }
            &__item {
                margin-right: 20px;
                &__title {
                    font-size: 11px;
                }
            }
            &__li {
                font-size: 14px;
            }
            &__title {
                font-size: 16px;
                padding: 10px 35px 10px 20px;
                display: inline-block;
                margin-bottom: 15px;
                transform: none;
                margin-left: -20px;
                padding: 10px 20px;
            }
        }
        &__title {
            margin-bottom: 50px;
        }
    }
    .we {
        padding-top: 100px;
        &__wrap {
            width: 100%;
        }
        &__but {
            display: block;
            right: 20%;
            top: 30%;
        }
        &__row {
            flex-direction: column;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .step {
        &__arrow {
            &--1 {
                width: 80px;
                right: -68px;
                top: -29px;
            }
            &--2 {
                width: 130px;
                right: -103px;
                bottom: -62px;
            }
        }
        &__card {
            width: 280px;
            height: 110px;
            &__wrap {
                transform: none;
                margin-left: -26px;
            }
            &__number {
                font-size: 144px;
            }
            &__title {
                font-size: 14px;
                margin-bottom: 5px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    .choice {
        &__subtitle {
            margin-bottom: 65px;
        }
        &__box {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 40px;
            max-width: 920px;
        }
        &__card {
            width: 280px;
            height: 230px;
            background-size: 280px;
            padding: 25px;
            &__text {
                font-size: 15px;
            }
            &__title {
                font-size: 18px;
            }
        }
    }
    .help {
        padding-top: 110px;
        &__butterflies {
            top: 225px;
        }
        &__money {
            width: 180px;
            top: -75px;
        }
        &__box {
            padding-left: 45px;
            width: 720px;
            height: 360px;
            &__img {
                width: 240px;
            }
        }
        &__tel {
            max-width: 300px;
            &__img {
                width: 28px;
                height: 28px;
            }
            &__text {
                font-size: 22px;
            }
        }
        &__title {
            margin-bottom: 20px;
        }
        &__text {
            font-size: 22px;
        }
    }
    .registration {
        padding-bottom: 35px;
        &__img {
            width: 300px;
            bottom: -240px;
        }
    }
    .advantages {
        &__row {
            margin-left: -20px;
        }
        &__card {
            width: 170px;
            height: 190px;
            &__img {
                width: 130px;
                height: 130px;
                img {
                    width: 70px;
                }
            }
            &__text {
                font-size: 16px;
            }
        }
        &__subtitle {
            margin-bottom: 75px;
        }
    }
    .section {
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: 25px;
        }
    }
    .main {
        padding-top: 100px;
        padding-bottom: 100px;
        &__button {
            padding: 17px 77px 17px 30px;
            &__money {
                left: 170px;
            }
        }
        &__li {
            font-size: 20px;
            img {
                width: 23px;
                height: 23px;
                margin-right: 8px;
            }
        }
        &__subtitle {
            font-size: 23px;
        }
        &__title {
            span {
                &:first-of-type {
                    font-size: 38px;
                }
                &:last-of-type {
                    font-size: 36px;
                }
            }
        }
        &__money {
            width: 80px;
            &--1 {
                top: 0;
            }
        }
    }
    .header {
        &__row {
            &--bot {
                padding: 15px 80px;
            }
        }
        &__tel {
            font-size: 18px;
        }
        &__title {
            font-size: 24px;
        }
        &__logo {
            &--desc {
                width: 200px;
            }
        }
    }

}

@media screen and ( max-width:  1100px) {
    .help {
        &__butterflies {
            width: 330px;
        }
    }
    .registration {
        margin-top: -105px;
        &__img {
            width: 185px;
            bottom: -120px;
        }
    }
}
@media screen and ( max-width:  992px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 40px;
        &__logo {
            justify-self: center;
            img {
                &:first-of-type {
                    display: none;
                }
                &:last-of-type {
                    display: block;
                }
            }
        }
        &__address {
            max-width: 120px;
        }
        &__info {
            justify-self: center;
            align-items: center;
            padding-top: 30px;
            border-top: 1px solid #474747;
            width: 100%;
            &__text {
                text-align: center;
                &:first-of-type {
                    padding-left: 0;
                    border-bottom: none;
                }
            }
        }
        &__link {
            margin-right: 0;
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &__address {
            &__text {
                br {
                    display: block;
                }
            }
        }
        &__nav {
            flex-direction: column;
            align-items: flex-start;
            justify-self: end;
        }
        &__container {
            grid-template: repeat(4, auto) / auto auto;
            column-gap: 100px;
            row-gap: 20px;
            grid-template-areas: 
                'footerLogo footerLogo'
                'footerNav footerDate'
                'footerNav footerAddress'
                'footerInfo footerInfo'
            ;
        }
    }
    .review {
        padding-bottom: 30px;
        &__inner {
            padding-right: 20px;
            width: 755px;
        }
        &__but {
            &--mob {
                bottom: -90px;
            }
        }
        &__hand {
            display: block;
            right: 0;
            top: -10px;
        }
        &__money {
            display: none;
            &--mob {
                display: block;
                top: 40px;
                left: 100px;
            }
        }
        &__subtitle {
            margin-bottom: 30px;
        }
        &__card {
            padding: 0;
            box-shadow: -5px 5px 10px rgba(194, 194, 194, 0.2), 
                            5px -5px 10px rgba(194, 194, 194, 0.2), 
                            -5px -5px 10px rgba(255, 255, 255, 0.9), 
                            5px 5px 13px rgba(194, 194, 194, 0.9), 
                            inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                            inset -1px -1px 2px rgba(194, 194, 194, 0.5);
            width: 225px;
            min-width: 225px;
            height: 245px;
            &__wrap {
                background: linear-gradient(135deg, #EDEDED 0%, #FFFFFF 100%);
                box-shadow: none;
                border: none;
                padding: 35px 25px 15px 15px;
            }
            &__name {
                font-size: 14px;
            }
            &__text {
                font-size: 11px;
            }
        }
    }
    .faq {
        &__item {
            padding-left: 15px;
            padding-right: 15px;
            width: 280px;
            &__title {
                font-size: 14px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    .faq {
        &__container {
            background-size: 400px;
            background-position-y: 130px;
        }
    }
    .comparison {
        &__title {
            margin-bottom: 30px;
        }
        &__img {
            display: none;
        }
    }
    .we {
        padding-top: 50px;
        &__subtitle {
            margin-bottom: 10px;
        }
        &__text {
            font-size: 14px;
            max-width: 385px;
        }
        &__money {
            display: none;
            &--mob {
                display: block;
                right: 30px;
                top: 25px;
            }
        }
        &__but {
            right: 20px;
        }
    }
    .step {
        padding-top: 80px;
        &__but {
            display: block;
            right: 0;
            top: 0;
        }
        &__arrow {
            display: none;
        }
        &__card {
            margin-right: 0;
        }
        &__row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
                'stepCard1 stepCard1 . .'
                '. stepCard2 stepCard2 .'
                '. . stepCard3 stepCard3'
            ;
            max-width: 560px;
            row-gap: 20px;
        }
    }
    .choice {
        padding-bottom: 30px;
        background-image: none;
        overflow: hidden;
        &__but {
            display: block;
            &--1 {
                right: 0;
                top: 0;
            }
            &--2 {
                right: 50px;
                top: 50%;
            }
        }
        &__money {
            display: none;
            &--mob {
                display: block;
                &--1 {
                    left: -15px;
                    bottom: -35px;
                }
                &--2 {
                    right: -15px;
                    top: -35px;
                }
            }
        }
        &__box {
            grid-gap: 20px;
            max-width: 600px;
        }
        &__subtitle {
            margin-bottom: 45px;
        }
    }
    .help {
        &__butterflies {
            top: 145px;
        }
        &__money {
            width: 90px;
            top: -40px;
        }
        &__box {
            padding-left: 25px;
            padding-right: 25px;
            width: 470px;
            height: 280px;
            justify-content: space-between;
            &__img {
                width: 130px;
            }
        }
        &__tel {
            max-width: 250px;
            &__img {
                width: 22px;
                height: 22px;
            }
            &__text {
                font-size: 18px;
            }
        }
        &__title {
            margin-bottom: 15px;
        }
        &__text {
            font-size: 18px;
            max-width: 255px;
        }
    }
    .registration {
        padding-bottom: 20px;
        &__box {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            max-width: 580px;
        }
        &__card {
            width: 280px;
            height: 60px;
            padding-left: 30px;
            padding-right: 10px;
            &__img {
                width: 40px;
            }
            &__text {
                font-size: 14px;
            }
        }
        &__subtitle {
            margin-bottom: 25px;
        }
        &__img {
            &--mobile {
                display: block;
                right: 0;
                top: -10px;
            }
        }
    }
    .advantages {
        background-position-x: calc(100% + 170px);
        &__subtitle {
            margin-bottom: 40px;
        }
        &__row {
            margin-left: 0;
            flex-wrap: wrap;
            max-width: 400px;
            justify-content: space-between;
        }
        &__card {
            margin-right: 0;
            margin-bottom: 40px;
            width: 150px;
            &__text {
                font-size: 14px;
            }
        }
    }
    .section {
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 20px;
        }
    }
    .main {
        padding-top: 25px;
        padding-bottom: 100px;
        &__tel {
            display: flex;
        }
        &__li {
            font-size: 16px;
            margin-bottom: 5px;
            img {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
        &__title {
            span {
                &:first-of-type {
                    font-family: 'RobotoCondensed';
                    font-size: 26px;
                    margin-bottom: 10px;
                }
                &:last-of-type {
                    text-transform: none;
                    font-size: 23px;
                    font-family: 'RobotoCondensed';
                }
            }
        }
        &__subtitle {
            transform: translateX(-20px);
            padding: 10px 15px 10px 20px;
            border-radius: 0 10px 10px 0;
            font-size: 16px;
        }
        &__money {
            display: none;
        }
        &__button {
            height: 44px;
            padding: 0 40px;
            margin-right: 20px;
            &__money {
                display: none;
            }
        }
    }
    .header {
        padding-left: 0;
        padding-right: 0;
        &__title {
            color: #85B657;
        }
        &__tel {
            display: none;
        }
        &__row {
            &--top {
                padding-left: 20px;
                padding-right: 20px;
                justify-content: center;
            }
            &--bot {
                box-shadow: 2px 1px 8px -1px rgba(0, 0, 0, 0.25);
                border-radius: 0;
                padding: 7px 20px;
            }
        }
        &__burger {
            display: flex;
        }
        &__link {
            display: none;
        }
        &__logo {
            &--desc {
                display: none;
            }
            &--mobile {
                display: block;
            }
        }
    }
}

@media screen and ( max-width:  767px) {
    .faq {
        &__container {
            background-size: 300px;
        }
    }
    .comparison {
        background-image: none;
        &__money {
            &--1 {
                display: none;
            }
            &--2 {
                bottom: 400px;
                left: 185px;
            }
        }
        &__but {
            display: block;
            right: 20px;
            top: 40%;
        }
        &__card {
            margin-right: 0;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &__box {
            flex-direction: column;
        }
    }
    .we {
        padding-left: 0;
        padding-right: 0;
        &__row {
            &--cert {
                width: 660px;
                justify-content: flex-start;
            }
        }
        &__but {
            right: 0;
            top: 100%;
        }
        &__wrap {
            padding-left: 20px;
        }
        &__title, &__subtitle {
            padding: 0 20px;
        }
        &__text {
            padding: 0 20px;
            max-width: 425px;
        }
    }
    .step {
        &__row {
            grid-template: repeat(3, 1fr) / repeat(6, 1fr);
            grid-template-areas: 
                'stepCard1 stepCard1 stepCard1 stepCard1 . .'
                '. stepCard2 stepCard2 stepCard2 stepCard2 .'
                '. . stepCard3 stepCard3 stepCard3 stepCard3'
            ;
            max-width: 420px;
        }
    }
    .help {
        padding: 0;
        &-bg {
            display: none;
        }
        &__bg {
            display: block;
        }
        &__container {
            padding: 50px 20px;
            background-image: url(../img/help/bgMobile.png);
            background-repeat: no-repeat;
            background-position-y: top;
            background-position-x: center;
            background-size: cover;
        }
        &__butterflies {
            display: none;
        }
    }
    .registration {
        margin-top: -50px;
        &__img {
            display: none;
        }
    }
    .advantages {
        background-image: url(../img/adv/bgMobile.png);
        background-position: center;
        padding-bottom: 90px;
        &__money {
            display: none;
        }
    }
    .main {
        background-position-x: 50px;
        padding-bottom: 25px;
    }
    .header {
        &__title {
            font-size: 16px;
        }
    }
}

@media screen and ( max-width:  680px) {
    .we {
        &__wrap {
            margin-bottom: 15px;
        }
        &__left {
            display: flex;
        }
    }
}
@media screen and ( max-width:  650px) {
    .faq {
        &__container {
            background-size: 250px;
        }
    }
    .main {
        background-position-x: 100px;
        padding-bottom: 25px;
        background-size: 500px;
    }
}
@media screen and ( max-width:  575px) {
    .footer {
        &__container {
            column-gap: 25px;
            grid-template-areas: 
                'footerLogo .'
                'footerNav footerDate'
                'footerNav footerAddress'
                'footerInfo footerInfo'
            ;
        }
        &__logo {
            justify-self: end;
        }
    }
    .faq {
        &__container {
            background-image: none;
        }
    }
    .comparison {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
        &__but {
            top: 93%;
            right: 0;
        }
        &__title {
            padding-left: 20px;
            max-width: 260px;
        }
        &__subtitle {
            padding-left: 20px;
            max-width: 255px;
        }
        &__card {
            box-shadow: none;
            background: #FBFBFB;
        }
    }
    .step {
        &__but {
            top: -40px;
        }
        &__row {
            grid-template: repeat(3, 1fr) / 1fr;
            grid-template-areas: 
                'stepCard1'
                'stepCard2'
                'stepCard3'
            ;
        }
    }
    .choice {
        &__but {
            &--1 {
                right: -45px;
                top: 35px;
            }
            &--2 {
                top: 30%;
                left: -100px;
            }
        }
    }
    .help {
        &__box {
            width: auto;
            height: auto;
            padding: 30px 20px 10px 20px;
            max-width: 365px;
            position: relative;
            &__img {
                width: 80px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-40%);
            }
        }
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__text {
            font-size: 14px;
            max-width: 180px;
        }
        &__tel {
            max-width: 215px;
            &__text {
                font-size: 15px;
            }
        }
    }
    .registration {
        &__card {
            &__text {
                max-width: 150px;
            }
        }
    }
    .advantages {
        background-position-x: calc(100% + 200px);
        &__row {
            max-width: 320px;
        }
        &__card {
            width: 130px;
        }
    }
    .main {
        background-image: url(../img/main/bgMobile.png);
        background-position-y: 230px;
        &__girl {
            display: block;
            left: 7%;
            bottom: 35px;
        }
        &__title {
            span {
                &:first-of-type {
                    max-width: 230px;
                }
            }
        }
        &__ul {
            margin-bottom: 145px;
        }
        &__button {
            padding: 0px 25px;
        }
        &__li {
            align-items: flex-start;
            max-width: 200px;
        }
    }
    .header {
        &__title {
            font-size: 14px;
        }
    }
}
    